* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-size-nav {
    width: 1200px ;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}


.nav-main {
    display: flex;
    background-color: lightblue;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-inner {
    background-color: #255ee9;
}

#logo {
    background-color: blue;
    width: 130px;
    height: 40px;
}

#link ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

#link li {
    width: 110px;
    height: 20px;
    background-color: blue;
}

#login {
    background-color: blue;
    width: 130px;
    height: 40px;
}

.main-top{
    background-color: #255ee9 ;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.description-inner {
    width: 800px;
    height: 300px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#title {
    background-color: green;
    width: 520px;
    height: 45px;
}

#description {
    background-color: lightgreen;
    width: 100%;
    height: 90px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#download {
    background-color: beige;
    width: 210px;
    height: 60px;
}

#open {
    background-color: beige;
    width: 300px;
    height: 60px;
}

.article-section .small-size {
    width: auto;
    height: 660px;
    background-color: lightgray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.image {
    background-color: grey;
    width: 500px;
    height: 300px;
}

.article-info {
    display: flex;
    flex-flow: column nowrap;
    width: 410px;
    height: 430px;
}

.article-title {
    background-color: orange;
    display: flex;
    flex-grow: 2;
}

.article-description {
    background-color: yellow;
    display: flex;
    flex-grow: 1;
}

.big-size {
    background-color: bisque;
    width: auto;
    height: 840px;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
